<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>EcoSphere Dashboard</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet">
</head>

<body class="bg-light">

<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">🌍 EcoSphere ESG</a>

        <div class="navbar-nav ms-auto">
            <a class="nav-link" href="/">Dashboard</a>
            <a class="nav-link" href="/departments/page">Departments</a>
            <a class="nav-link" href="/carbon/page">Carbon</a>
            <a class="nav-link" href="/reports">Reports</a>
        </div>
    </div>
</nav>

<div class="container mt-4">

    <div class="row">

        <div class="col-md-6">

            <div class="card shadow">

                <div class="card-body">

                    <h5>Total Departments</h5>

                    <h2 class="text-primary"
                        th:text="${departmentCount}"></h2>

                </div>

            </div>

        </div>

        <div class="col-md-6">

            <div class="card shadow">

                <div class="card-body">

                    <h5>Carbon Transactions</h5>

                    <h2 class="text-success"
                        th:text="${carbonCount}"></h2>

                </div>

            </div>

        </div>
        <div class="col-md-4">

            <div class="card shadow">

                <div class="card-body text-center">

                    <h5>Overall ESG Score</h5>

                    <h1 class="text-success"
                        th:text="${score.overallScore} + '%'"></h1>

                </div>

            </div>

        </div>

    </div>

    <div class="card shadow mt-4">

        <div class="card-header">

            Recent Carbon Transactions

        </div>

        <div class="card-body">

            <table class="table table-hover">

                <thead>

                <tr>

                    <th>ID</th>
                    <th>Activity</th>
                    <th>Department</th>
                    <th>Emission</th>
                    <th>Date</th>

                </tr>

                </thead>

                <tbody>

                <tr th:each="t : ${transactions}">

                    <td th:text="${t.id}"></td>

                    <td th:text="${t.activityName}"></td>

                    <td th:text="${t.department.name}"></td>

                    <td th:text="${t.emissionValue} + ' ' + ${t.emissionUnit}"></td>

                    <td th:text="${t.transactionDate}"></td>

                </tr>

                </tbody>

            </table>

        </div>

    </div>

</div>

</body>
</html>